body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body::before{
        content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb; 
    background-image: 
    radial-gradient(circle at 85% 15%, rgba(0, 255, 123, 0.279) 0%, transparent 30%),
    radial-gradient(circle at 10% 80%, rgba(221, 255, 0, 0.295) 0%, transparent 30%);
    z-index: -1;
}
.forgot-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.112);
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px;
    width: 500px;
    height: 200px;
    backdrop-filter: blur(20px);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.2), 
                0 18px 36px -18px rgba(0, 0, 0, 0.2);
}
.logo a img{
    width: 75px;
    height: auto;
    margin-bottom: 20px;
}
h2{
    font-family:sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.863);
    font-weight: 500;
}
p{
    align-self: flex-start;
    font-weight: 500;
    margin-bottom: 10px;
}
input{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding:8px 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px rgba(115, 207, 192, 0.7);
    transition: all 0.5s ;
    margin-bottom: 10px;

}
input:focus{
    outline: none;
    box-shadow: 0 0 20px rgba(0, 104, 141, 0.25);
}
button{
    margin: 10px auto 15px auto;
    align-self: center;
    background-color: var(--mainColor);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    display: block;
    width: 100%;
    transition: all 0.5s;
}
button:hover{
    background-color: transparent;
    border: 1px rgba(0, 0, 0, 0.468) solid;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    margin-top: 40px;
    color: var(--disableColor);
}
