*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background-color: transparent;
  margin: 0;
}
.hero-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  background-color: #fbfbfb; 
  background-image: 
    radial-gradient(circle at 85% 15%, rgba(0, 255, 123, 0.1) 0%, transparent 30%),
    radial-gradient(circle at 10% 80%, rgba(221, 255, 0, 0.1) 0%, transparent 30%);
    z-index: -1;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroimg{
    width: 50%;
}

.herop {
  width: 50%;
}
.herop .tip{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--backgroundColor);
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding: 0px 10px;
    color: var(--mainColor);
    font-size: 15px;
    font-weight: 500;
}
.herop span img{
    width: auto;
    height: 30px;
    margin-right: 5px;
}
.herop h1{
    font-size: 60px;
}
.herop span{
    color: var(--mainColor);
}
.herop p{
    font-size: 18px;
    color: var(--disableColor);
    line-height: 1.5;
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 13px 35px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
    margin-right: 10px;
    transition: all 0.3s;
    cursor: pointer;
}
.m-btn{
    color: white;
    background-color: var(--mainColor);
}
.s-btn{
    background-color: transparent;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    color: black;
}
.s-btn:hover{
    background-color: var(--secondaryColor);
}
.m-btn:hover{
    background-color: #2c9664c2;
}
.fa-angle-right{
    font-weight: normal;
    font-size: 14px;
    transition: all 0.3s;
}
.m-btn:hover .fa-angle-right {
  transform: translateX(5px);
}
main{
    background-color: #F9FBF9;
    min-height: 80vh;
    padding: 80px 0;
}
.title{
    text-align: center;
    margin: 10px auto;
}
.title h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.title p{
    color: var(--disableColor);
    margin-bottom: 50px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.feature-card {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 45%;
    height: 250px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 0.3s;
}

.feature-card img {
    width: auto;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: var(--backgroundColor);
    transition: all 0.3s;
}

.feature-card p {
    color: var(--disableColor);
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 15px;
}

.feature-card .link-text {
    color: var(--mainColor);
    font-weight: 500;
    font-size: 15px;
}

.feature-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.feature-card:hover img {
    background-color: #b3c5bb;
}
.banner{
    padding: 50px;

    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: #43A276;
    border-radius: 20px;
    text-align: center;
}
.banner h4{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}
.banner p{
    color: whitesmoke;
    margin: 15px 0;
    line-height: 1.5;
}
.banner button{
    cursor: pointer;
    margin-top: 15px;
}
.banner button:first-of-type:hover{
    background-color: #f0f0f06d;
}
.banner button:last-of-type{
    color: white;
    border-color: rgba(255, 255, 255, 0.447);
}
.banner button:last-of-type:hover{
    background-color: rgba(255, 255, 255, 0.088);
    color: black;
}